.chain-combos {
    background-color: transparent;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chain-combos h2 {
    color: #d42f2f;
    margin-bottom: 3px;
}

.chain-throws {
    width: 100%;
    border-collapse: collapse;
}

.chain-throws th {
    font-size: larger;
    color: #d42f2f;
    text-align: center;
    padding: 8px;

}



.chain-throws td {
    margin-bottom: 15px;
    border: 2px solid #d42f2f;
    padding: 8px;
    text-align: center;
    vertical-align: top;
    background-color: #333;
    /* Consistent with your dark theme */
    color: white;
}



.comboName {
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    /* Align text to the left with padding */
}



.throwData {
    width: 15%;
    /* Smaller width for the throw data */
}

.followUpData {
    width: 45%;
    /* Allocate more space for follow up actions */
}

.simpleInputData {
    width: 40%;
    /* Adjust if necessary for balance */
}

.sequence,
.break {
    display: block;
    /* Block display for clear vertical alignment */
    margin-top: 5px;
    /* Space between sequence images and breaks */
}

.break {
    font-size: 0.8em;
    /* Smaller text for break descriptions */
    color: #ccc;
    /* Lighter color for less emphasis */
}

.comboName {
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}



.sequenceBlock {
    display: inline-block;
    /* Display sequences in a block, inline for horizontal layout */
    vertical-align: top;
    /* Align items to the top */
    margin-right: 10px;
    /* Space between sequence blocks */
}

.input-icons {
    vertical-align: middle;
    /* Align icons with the sequences */
    padding: 0 5px;
    /* Space around the icon */
}

.break {
    display: block;
    color: #fff;
    /* Bright text color for contrast */
    font-size: 0.8em;
    margin-top: 2px;
    padding: 3px;
    /* Padding for better text encapsulation */
    background-color: #892222;
    /* Eye-catching background color */
    border-radius: 5px;
    /* Rounded corners for a smoother look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Subtle shadow for a 3D effect */
    font-weight: bold;
    /* Bold font for emphasis */
    font-family: 'Arial', sans-serif;
    /* Clear, easy-to-read font */
    animation: highlightBreak 1s ease-out;
}

.break:hover {
    background-color: #ff6347;
    /* Lighter or different background on hover */
    cursor: pointer;
    /* Indicates the element is interactive */
}

@keyframes highlightBreak {
    0% {
        background-color: #d42f2f;
    }

    50% {
        background-color: #ff6347;
    }

    100% {
        background-color: #d42f2f;
    }
}


.break img {
    width: 20px;
    height: 20px;
}

.unbreakable {
    color: #ccc;
    /* Gray color indicates the move is unbreakable */
    font-style: italic;
    /* Italicize to emphasize that this is a special case */
    padding: 3px;
    background-color: #444;
    /* Darker background for contrast */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}