.char-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#char-name {
    font: 2em sans-serif;
    color: #d42f2f;
    text-align: center;
}

#char-pic {
    height: 10em;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 2rem;
}