.heat-engagers {
    padding: 3px;
}

.heat-engagers h2 {
    color: #d42f2f;
    margin-bottom: 3px;
}

.heat-engagers ul {
    list-style: none;
    padding: 0;
}

.heat-engagers li {
    margin-bottom: 12px;
    padding: 8px;
    background-color: #333;
    /* Light grey background for each list item */
    border-radius: 8px;
    /* Rounded corners for the list items */
}