.heat-engagers {
    padding: 3px;
}

.heat-engagers h2 {
    margin-bottom: 3px;
}

.heat-engagers ul {
    list-style: none;
    padding: 0;
}

.heat-engagers li {
    margin-bottom: 12px;
    padding: 8px;
    background-color: #333;
    /* Light grey background for each list item */
    border-radius: 8px;
    /* Rounded corners for the list items */
}

.heat-engager-move::after {
    content: '';
    /* Add content for the pseudo-element */
    display: block;
    /* Display the pseudo-element as a block */
    margin-top: 5px;
    margin-bottom: 10px;

    /* Make the pseudo-element full width */
    height: 1px;
    /* Set the height of the pseudo-element */
    background-image: linear-gradient(to right, transparent, #d42f2f, transparent);
}