.bit-of-space-around {
    display: flex;
    justify-content: space-evenly;
}

.punishers {
    padding: 3px;
}

.punishers h2 {
    color: #d42f2f;
    margin-bottom: 3px;
}

.punishers ul {
    list-style: none;
    padding: 0;
}

.punishers li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 8px;
    background-color: #333;
    border-radius: 8px;
}