.sequence-part,
.xbox-input {
    font-size: large;
    font-weight: 800;
}

.xbox-input-1 {
    color: #40ccd0;

}

.xbox-input-2 {
    color: #ecdb33;

}

.xbox-input-3 {
    color: #3cdb4e;
}

.xbox-input-4 {
    color: #d04242;
}

.hold-input {

    color: black;


    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;


    font-weight: 900;

    font-size: 18px;

    font-family: 'Arial Black', Gadget, sans-serif;

}

.normal-inputs {
    color: white;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        2px 2px 0 #fff,
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Arial Black', Gadget, sans-serif;
}

img {
    vertical-align: middle;
}

.notation-span {

    letter-spacing: 3px;
}

.everything-else {
    letter-spacing: 0px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Arial Black', Gadget, sans-serif;
}